body{
	background: url("../img/bg.png");
}
/*layout*/
.container{
	width: 90%;
	margin: 0 auto;
	
}
article section{
	width: 46%;
	float: left;
	padding: 2%;
}


/*adaptive content*/
iframe, img{
	width:100%;
	max-width: 50%;
}

@media (min-width: 960px) {
#home{
	width: 300px;
}
#youtube-big{
display: block;
}
}


@media (min-width: 768px) {
#home{
	width: 300px;
}

}

@media (min-width: 480px) {
#home{
	width: 300px;
}

}
